html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.more{
  padding: 10px 15px;
  
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  color: #181515;
  margin-left: 3rem;
  cursor: pointer;
  transition: background .5s ease-in-out;
}

.more:hover{
  background: #0c54f0;
  clip-path: ellipse(130px 140px at 10% 20%);
}